# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
/target/
/test-output/
/.idea/
src/test/.DS_Store
src/test/java/.DS_Store